/*writing designs*/
.policyStart {
    font-size: 18px;
    padding: 15px;
}

.firstPara {
    padding-left: 12px;
}

.secondPara {
    padding-left: 12px;
}

.video {
    height: 300px;
    padding: 10px;
    width: 100%;
}