.contactInfo {
    padding: 20px;
    font-size: 20px;
}

.contactInfoName {
    font-size: 40px;
    font-family: "simple_thread", sans-serif;
    color: rgb(190, 10, 10);
}

.contactdes {
    font-size: 16px;
    padding: 10px;
}

.requestform {
    font-size: 20px;
    padding-left: 15px;
}

.infoform :where(.name input, .select-box) {
    position: relative;
    height: 20px;
    width: 90%;
    outline: none;
    font-size: 18px;
    color: #353434;
    margin-top: 8px;
    border: 1px solid #000000;
    border-radius: 6px;
    padding: 0 15px;
}

::placeholder {
    color: #514f4f;
}

.infoform .column2 {
    display: flex;
    column-gap: 55px;
}

.column2 {
    padding: 10px;
    margin: 5;
}

.name input {
    padding: 10px;
    font-weight: 500;
    font-size: 14px;
    text-align: left;
}

.gender {
    padding-top: 35px;
    justify-content: left;
    font-size: 16px;
}

.gender input {
    cursor: pointer;
}

.phone input {
    padding: 10px;
    font-weight: 500;
    font-size: 14px;
}

.state {
    font-size: 14px;
    height: 39px;
    width: 30%;
    margin-top: 28px;
    cursor: pointer;
}

.input [type=text],
textarea {
    width: 95%;
    text-align: left;
    height: 200px;
    font-size: 14px;
    font-weight: 500;
    margin: 12px;
    padding: 10px;
    border-radius: 5px;
}

.button {
    padding: 10px;
}

.submit {
    padding: 10px;
    display: block;
    background: rgb(180, 35, 35);
    font-weight: 600;
    font-size: 14px;
    color: white;
    cursor: pointer;
}