.firstPara {
    padding: 10px;
    text-align: center;
    font-size: 14px;
}

.bottom {
    padding: 20px;
}

/*table design*/
.table {
    background-color: rgb(0, 0, 0);
    width: 100%;
}

/*first raw design*/
.firstRaw {
    background-color: grey;
    width: 100%;
    font-size: 14px;
}

/*second raw*/
.secondRaw {
    background-color: lightgrey;
    align-items: center;
    width: 100%;
    font-size: 14px;
}